@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Default light colors */
  :root {
    --color-neon: 191deg 80% 43%;
    --color-background: 228deg 10% 90%;
    --color-primary: 240deg 10% 4%;
    --color-secondary: 231deg 11% 53%;
  }
  :root[data-theme="light"] {
    --color-neon: 191deg 80% 43%;
    --color-background: 228deg 10% 90%;
    --color-primary: 240deg 10% 4%;
    --color-secondary: 231deg 11% 53%;
  }
  /* User settings dark theme */
  @media (prefers-color-scheme: dark) {
    :root {
      --color-neon: 190deg 72% 52%;
      --color-background: 240deg 10% 4%;
      --color-primary: 228deg 10% 90%;
      --color-secondary: 231deg 11% 53%;
    }
  }
  /* User selects dark theme */
  :root[data-theme="dark"] {
    --color-neon: 190deg 72% 52%;
    --color-background: 240deg 10% 4%;
    --color-primary: 228deg 10% 90%;
    --color-secondary: 231deg 11% 53%;
  }
  /* Light neon selection */
  :root[data-neon="violet"] {
    --color-neon: 276deg 100% 60%;
  }
  :root[data-neon="blue"] {
    --color-neon: 216deg 100% 51%;
  }
  :root[data-neon="green"] {
    --color-neon: 121deg 100% 45%;
  }
  :root[data-neon="yellow"] {
    --color-neon: 55deg 95% 47%;
  }
  :root[data-neon="orange"] {
    --color-neon: 36deg 100% 52%;
  }
  :root[data-neon="red"] {
    --color-neon: 359deg 100% 46%;
  }
  /* Neon selection and dark theme applied */
  :root[data-theme="dark"][data-neon="violet"] {
    --color-neon: 276deg 100% 71%;
  }
  :root[data-theme="dark"][data-neon="blue"] {
    --color-neon: 211deg 100% 56%;
  }
  :root[data-theme="dark"][data-neon="green"] {
    --color-neon: 120deg 99% 50%;
  }
  :root[data-theme="dark"][data-neon="yellow"] {
    --color-neon: 57deg 98% 53%;
  }
  :root[data-theme="dark"][data-neon="orange"] {
    --color-neon: 39deg 100% 60%;
  }
  :root[data-theme="dark"][data-neon="red"] {
    --color-neon: 359deg 100% 57%;
  }
}
