---
import MainLayout from "../layouts/MainLayout.astro";

import Link from "../components/Link.astro";
---

<MainLayout title="Nonexistent" description="You might be lost, or dreaming">
  <div
    class="flex h-full flex-col items-center justify-center gap-4 p-4 text-center"
  >
    <h1
      class="font-tilt text-7xl font-bold uppercase text-neon transition duration-500 hover:text-primary hover:shadow-neon hover:text-shadow-glow"
    >
      404
    </h1>
    <p class="text-xl font-bold">This page does not exist</p>
    <p class="text-lg font-semibold">Was it all a dream?</p>
    <Link
      href="/"
      text="Back to reality"
      icon={{ name: "ph:planet-bold", side: "right" }}
    />
  </div>
</MainLayout>
