---
import MainLayout from "../layouts/MainLayout.astro";
import MyFace from "../components/MyFace.astro";
---

<MainLayout title="Homepage">
  <div class="">
    <h1 class="flex font-bold text-neutral-900">
      Welcome, I'm&nbsp<span class="text-neon font-tilt font-bold uppercase"
        >Dave!</span
      >
    </h1>
  </div>
  <MyFace />
</MainLayout>
