---
import MainLayout from "../layouts/MainLayout.astro";
import MyFace from "../components/MyFace.astro";

import RippleGlass from "../components/RippleGlass.astro";

import { formatRipples, type Ripple } from "../ts/utils";

const allRipples = await Astro.glob("./ripples/*.mdx");
const ripples: Ripple[] = allRipples.map((ripple) => ({
  frontmatter: ripple.frontmatter as Ripple["frontmatter"],
  url: ripple.url,
}));
const formattedRipples = formatRipples(ripples, { limit: 1 });
---

<MainLayout title="Homepage" description="Welcome to my website">
  <div class="flex h-full flex-col items-center justify-evenly p-4 lg:flex-row">
    <div
      class="flex flex-col-reverse items-center justify-center gap-4 p-4 sm:flex-row"
    >
      <MyFace />
      <div class="flex flex-col gap-4">
        <h2 class="text-xl font-bold">Greetings, I'm</h2>
        <h1
          class="font-tilt text-4xl font-bold uppercase text-neon transition duration-500 hover:text-primary hover:shadow-neon hover:text-shadow-glow md:text-5xl"
        >
          Dave Tierney
        </h1>
        <p class="text-lg font-semibold">Web Developer | Chef | Tinkerer</p>
      </div>
    </div>
    <div
      class="flex flex-col items-center gap-4 py-4"
      aria-label="Latest Ripple"
    >
      <h2 class="text-lg font-semibold">
        Most recent&nbsp;
        <a
          href="/ripples"
          class="font-tilt text-xl font-bold uppercase text-neon underline transition duration-500 hover:text-primary hover:underline hover:decoration-neon hover:shadow-neon hover:text-shadow-glow sm:no-underline md:text-2xl"
          >ripple</a
        >
      </h2>
      <div class="grid grid-cols-1">
        {
          formattedRipples.map((ripple) => (
            <RippleGlass frontmatter={ripple.frontmatter} url={ripple.url} />
          ))
        }
      </div>
    </div>
  </div>
</MainLayout>
