---
import MainLayout from "../layouts/MainLayout.astro";
import MyFace from "../components/MyFace.astro";
---

<MainLayout title="Homepage">
  <h1 class="font-neon flex text-neutral-900">Welcome, I'm Dave!</h1>
</MainLayout>
<MyFace />
