---
import MainLayout from "../layouts/MainLayout.astro";

import MyFace from "../components/MyFace.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Me" description="A bit more about me">
  <div class="flex h-screen items-center justify-center gap-4 p-4">
    <h1 class="font-bold">
      More about&nbsp;<span class="font-tilt font-bold uppercase text-neon"
        >Me</span
      >
    </h1>
    <MyFace />
    <Link
      href="mailto:me@davetierney.dev"
      text="Contact me"
      icon={{ name: "ic:baseline-mail-outline", side: "right" }}
    />
  </div>
</MainLayout>
