---
import MainLayout from "../layouts/MainLayout.astro";
import { Icon } from "astro-icon/components";

import MyFace from "../components/MyFace.astro";
import Link from "../components/Link.astro";

import meData from "../data/meData";
const { text, facts } = meData[0];
---

<MainLayout title="Me" description="A bit more about me">
  <div class="mx-6 flex h-full flex-col items-center justify-center gap-4 p-4">
    <h1 class="mt-4 text-xl font-bold">
      A bit more about&nbsp;<span
        class="inline-block animate-flip-up font-tilt text-4xl font-bold uppercase text-neon transition duration-500 animate-duration-1000 hover:text-primary hover:shadow-neon hover:text-shadow-glow md:text-5xl"
        >Me</span
      >
    </h1>
    <div class="mb-8 flex flex-col items-center gap-4 lg:flex-row">
      <div class="my-4 flex flex-col items-center lg:my-0">
        <MyFace size="medium" loading="eager" />
        <Link
          href="mailto:me@davetierney.dev"
          text="Contact me"
          icon={{ name: "ic:baseline-mail-outline", side: "right" }}
        />
      </div>
      <div class="flex flex-col items-center gap-4">
        <div
          class="group flex max-w-3xl flex-col justify-center gap-2 rounded-sm border-2 border-neon border-opacity-40 bg-background bg-opacity-80 p-6 shadow transition duration-300 hover:border-opacity-100 hover:bg-opacity-100 hover:shadow-glow hover:shadow-neon md:gap-4"
        >
          <Icon
            name="fluent:person-info-16-regular"
            class="h-10 w-10 text-primary transition duration-300 group-hover:text-neon"
          />
          <h2
            class="font-tilt text-2xl font-bold uppercase text-neon transition duration-500 group-hover:text-primary group-hover:shadow-neon group-hover:text-shadow-glow md:text-3xl"
          >
            Thank you for visiting!
          </h2>
          <div>
            {text.map((data) => <p class="mb-4 last:mb-0">{data}</p>)}
          </div>
          <ul>
            {
              facts.map((data) => (
                <li class="mx-3 list-outside list-disc">{data}</li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
