---
import MainLayout from "../layouts/MainLayout.astro";

import MyFace from "../components/MyFace.astro";

import { skillDataWeb, skillDataRestaurant } from "../data/skillData";
---

<MainLayout title="Skills" description="Things I can do">
  <div class="bg-background text-primary">
    <h1 class="flex font-bold">
      My various&nbsp<span class="font-tilt font-bold uppercase text-neon"
        >Skills</span
      >
    </h1>
    <MyFace />
    <h2>Current focus</h2>
    <h3>
      A strategic approach to <span
        class="font-tilt font-bold uppercase text-neon">Design</span
      > and <span class="font-tilt font-bold uppercase text-neon"
        >Development</span
      >
    </h3>
    {
      skillDataWeb.map((item) => (
        <>
          <h4>{item.discipline}</h4>
          <p>{item.description}</p>
        </>
      ))
    }
    <h2>Prior knowledge</h2>
    <h3>
      Restaurant <span class="font-tilt font-bold uppercase text-neon"
        >Management</span
      > and <span class="font-tilt font-bold uppercase text-neon">Chef</span>
       experience
    </h3>
    {
      skillDataRestaurant.map((item) => (
        <>
          <h4>{item.discipline}</h4>
          <p>{item.description}</p>
        </>
      ))
    }
  </div>
</MainLayout>
