---
import MainLayout from "../layouts/MainLayout.astro";
import MyFace from "../components/MyFace.astro";

import Tabs from "../components/Tabs.astro";
---

<MainLayout title="Work" description="Jobs and projects">
  <div class="flex h-full items-center justify-center gap-4 p-4">
    <MyFace />
    <Tabs />
  </div>
</MainLayout>
