---
import MainLayout from "../layouts/MainLayout.astro";
import MyFace from "../components/MyFace.astro";

import workTabItems from "../data/workTabData.tsx";
import ReactTabs from "../components/ReactTabs.tsx";
---

<MainLayout title="Work" description="Jobs and projects">
  <div
    class="flex h-full flex-col items-center justify-center gap-4 p-4 lg:flex-row"
  >
    <ReactTabs items={workTabItems} client:only="react" />
    <MyFace />
  </div>
</MainLayout>
