---
import MainLayout from "../../layouts/MainLayout.astro";
import MyFace from "../../components/MyFace.astro";
import RippleGlass from "../../components/RippleGlass.astro";

const allRipples = await Astro.glob("./*.mdx");
---

<MainLayout title="Ripples" description="A small ripple can spread">
  <div class="mx-6 flex h-full justify-center gap-4 p-4">
    <div class="my-8 flex flex-col items-center gap-4">
      <h1 class="text-xl font-bold">
        Sending &nbsp;
        <span
          class="font-tilt text-4xl font-bold uppercase text-neon transition duration-500 hover:text-primary hover:shadow-neon hover:text-shadow-glow md:text-5xl"
          >ripples</span
        >
         &nbsp;into the world.
      </h1>
      <MyFace />
    </div>
    <div class="my-8 grid grid-cols-2 gap-6 lg:grid-cols-2">
      {
        allRipples.map((ripple) => (
          <RippleGlass frontmatter={ripple.frontmatter} url={ripple.url} />
        ))
      }
    </div>
  </div>
</MainLayout>
