---
import MainLayout from "../../layouts/MainLayout.astro";
import MyFace from "../../components/MyFace.astro";
import RippleGlass from "../../components/RippleGlass.astro";

const allRipples = await Astro.glob("./*.mdx");
---

<MainLayout title="Ripples" description="A small ripple can spread">
  <div class="flex h-screen items-center justify-center">
    <MyFace />
    <div class="flex flex-col items-start">
      <h1 class="font-bold">
        Sending &nbsp;
        <span class="font-tilt font-bold uppercase text-neon">ripples</span>
         &nbsp into the world.
      </h1>
      {allRipples.map((ripple) => <RippleGlass {ripple} />)}
    </div>
  </div>
</MainLayout>
