---
import MainLayout from "../../layouts/MainLayout.astro";
import MyFace from "../../components/MyFace.astro";
import RippleGlass from "../../components/RippleGlass.astro";

const allRipples = await Astro.glob("./*.mdx");
console.log(allRipples);
---

<MainLayout title="Ripples" description="A small ripple can spread">
  <div class="bg-background text-primary">
    <h1 class="flex font-bold">
      Sending &nbsp
      <span class="font-tilt font-bold uppercase text-neon">ripples</span>
       &nbsp into the world.
    </h1>
    <MyFace />
    {allRipples.map((ripple) => <RippleGlass {ripple} />)}
  </div>
</MainLayout>
