---
import MainLayout from "../../layouts/MainLayout.astro";
import MyFace from "../../components/MyFace.astro";
---

<MainLayout title="Ripples">
  <h1 class="flex font-bold text-neutral-900">
    Thoughts, opinions, and ideas are my&nbsp
    <span class="font-neon font-bold uppercase text-brand">Ripples.</span>
  </h1>
  <MyFace />
</MainLayout>
