---

---

<footer>
  <div
    class="border-t-2 border-neon border-opacity-30 bg-neon bg-opacity-5 shadow hover:border-opacity-100 hover:bg-neon hover:bg-opacity-10 hover:shadow-glow hover:shadow-neon"
  >
    <div
      class="mx-auto flex max-w-screen-xl flex-col-reverse flex-wrap items-center justify-between p-4 sm:flex-row"
    >
      <small class="font-semibold"
        >Copyright &copy;<span id="copyright"></span> Dave Tierney | All rights
        reserved</small
      >
      <div>Socials here</div>
    </div>
  </div>
</footer>

<script>
  document.querySelector("#copyright")!.textContent = new Date()
    .getFullYear()
    .toString();
</script>
