---

---

<footer>
  <div class="text-primary bg-background">
    <small class="font-semibold"
      >Copyright &copy;<span id="copyright"></span> Dave Tierney | All rights
      reserved</small
    >
  </div>
</footer>

<script>
  document.querySelector("#copyright")!.textContent = new Date()
    .getFullYear()
    .toString();
</script>
