<section class="fixed z-[-1] h-full w-full">
  <div class="grid-lines">
    <div class="grid-box">
      <div class="bg top"></div>
      <div class="bg bottom"></div>
    </div>
  </div>
</section>

<style>
  .grid-lines {
    width: 100%;
    position: relative;
    z-index: -5;
    opacity: 0.2;
  }
  .grid-box {
    width: 100%;
    background-color: hsl(var(--color-background));
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    perspective: 500px;
    overflow: hidden;
  }

  .bg {
    height: 40vh;
    width: 100%;
    background-image: linear-gradient(
        hsl(var(--color-neon)) 1.5px,
        transparent 1.5px,
        transparent calc(100% - 1.5px),
        hsl(var(--color-neon)) calc(100% - 1.5px)
      ),
      linear-gradient(
        90deg,
        hsl(var(--color-neon)) 1.5px,
        transparent 1.5px,
        transparent calc(100% - 1.5px),
        hsl(var(--color-neon)) calc(100% - 1.5px)
      );
    background-size: 5% 5%;
    border: 1.5px solid hsl(var(--color-neon));
  }
  .top {
    transform: rotateX(-85deg);
  }
  .bottom {
    transform: rotateX(85deg);
  }
</style>
