---
import { Icon } from "astro-icon";
interface Props {
  text: string;
  href: string;
  icon?: {
    name: string;
    side: "left" | "right";
  };
}

const { text, href, icon, ...rest } = Astro.props as Props;
---

<a href={href} {...rest} class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-brand md:p-0 dark:text-white md:dark:hover:text-brand dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
  {
    icon && icon.side === "left" && (
      <Icon name={icon.name} height="24" width="24" />
    )
  }

  <span>{text}</span>

  {
    icon && icon.side === "right" && (
      <Icon name={icon.name} height="24" width="24" />
    )
  }
</a>
