---
import { Icon } from "astro-icon";
interface Props {
  text: string;
  href: string;
  icon?: {
    name: string;
    side: "left" | "right";
  };
}

const { text, href, icon, ...rest } = Astro.props as Props;
---

<a href={href} {...rest} class="inline-flex gap-1 py-2 pl-3 pr-4 text-neutral-900 font-medium uppercase underline underline-offset-2 rounded group transition hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:decoration-brand md:p-0">
  {
    icon && icon.side === "left" && (
      <Icon name={icon.name} height="24" width="24" class="transition group-hover:text-brand" />
    )
  }

  <span>{text}</span>

  {
    icon && icon.side === "right" && (
      <Icon name={icon.name} height="24" width="24" class="transition group-hover:text-brand" />
    )
  }
</a>
