---
import { Image } from "astro:assets";
import profilePic from "../assets/images/Profile_Pic_no_bg.png";
---

<div class="relative m-4 h-80 w-80">
  <div class="absolute h-full">
    <Image
      class="rounded-full brightness-125 grayscale filter"
      src={profilePic}
      alt="Dave Tierney profile picture"
    />
  </div>
  <div class="relative h-full rounded-full bg-neon bg-opacity-20"></div>
</div>
