---
import { Icon } from "astro-icon";
import navData from "../data/navData";
import Link from "./Link.astro";
---

<nav>
  <div>
    <a href="/" aria-label="Go home"
      ><Icon name="logo" width="60" class="text-brand" /></a
    >
    <ul>
      {
        navData.map((item) => (
          <Link
            text={item.name}
            href={item.path}
            data-navLink
            icon={{ name: item.icon?.name, side: item.icon?.side }}
          />
        ))
      }
    </ul>
  </div>
</nav>
