---
import { Icon } from "astro-icon";
import navData from "../data/navData";
import Link from "./Link.astro";
---

<nav
  class="border-b-2 border-neon border-opacity-30 bg-neon bg-opacity-20 shadow hover:border-opacity-100 hover:bg-neon hover:bg-opacity-30 hover:shadow-glow hover:shadow-neon"
>
  <div
    class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4"
  >
    <a href="/" class="group flex items-center gap-2" aria-label="Go home">
      <Icon
        name="logo"
        width="50"
        class="text-neon opacity-90 transition duration-500 group-hover:text-primary group-hover:text-opacity-100 group-hover:shadow-glow group-hover:shadow-neon"
      />
      <span
        aria-label="Go home"
        class="self-center whitespace-nowrap font-tilt text-2xl font-bold uppercase text-primary text-opacity-90 group-hover:text-opacity-100"
        >Dave Tierney</span
      >
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-secondary hover:text-neon focus:outline-none focus:ring-2 focus:ring-neutral-600 md:hidden"
      aria-controls="navbar-default"
      aria-expanded="false"
      transition:persist="nav-toggle"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="h-5 w-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div
      class="max-h-0 w-full overflow-hidden opacity-0 transition-all duration-500 ease-in-out md:flex md:max-h-none md:w-auto md:opacity-100"
      id="navbar-default"
    >
      <div
        class="mt-4 flex flex-col items-end p-4 text-right md:mt-0 md:flex-row md:space-x-8 md:p-0"
      >
        {
          navData.map((item) => (
            <Link
              text={item.name}
              href={item.path}
              data-nav-link
              icon={{ name: item.icon?.name, side: item.icon?.side }}
            />
          ))
        }
      </div>
    </div>
  </div>
</nav>
<script>
  import "../ts/nav";
</script>
