---
// component imports
import Link from "./Link.astro";

const { prevUrl, nextUrl } = Astro.props;
---

<nav
  aria-label="Ripple pages"
  class="flex items-center justify-center gap-2 sm:gap-4"
>
  {
    prevUrl && (
      <Link
        text="to surface"
        href={prevUrl}
        icon={{
          name: "up",
          side: "left",
        }}
      />
    )
  }
  {
    nextUrl && (
      <Link
        text="go deeper"
        href={nextUrl}
        icon={{
          name: "down",
          side: "right",
        }}
      />
    )
  }
</nav>
