---
import { slugify, formatDate } from "../ts/utils";

const { similarRipples } = Astro.props;

interface RippleType {
  url: string;
  frontmatter: {
    title: string;
    author: string;
    date: string;
  };
}
---

<div class="mx-4 grid grid-cols-1 gap-4 sm:grid-cols-3">
  {
    similarRipples.map((ripple: RippleType) => (
      <div class="group/glass flex flex-col items-center justify-evenly gap-2 rounded-sm border-2 border-neon border-opacity-30 bg-secondary bg-opacity-50 p-4 text-center shadow transition duration-300 hover:border-opacity-100 hover:shadow-glow hover:shadow-neon hover:backdrop-blur">
        <h3 class="md:text-x font-tilt text-lg font-bold uppercase text-neon transition duration-500 hover:underline hover:decoration-neon group-hover/glass:text-primary group-hover/glass:shadow-neon group-hover/glass:text-shadow-glow">
          <a href={ripple.url}>{ripple.frontmatter.title}</a>
        </h3>
        <small>
          <a href="/me">
            <span class="transition duration-300 hover:text-neon hover:underline hover:decoration-neon">
              {ripple.frontmatter.author}
            </span>
          </a>{" "}
          ~ {formatDate(ripple.frontmatter.date)}
        </small>
      </div>
    ))
  }
</div>
