---
import Icon from "astro-icon";
---

<div class="md:flex">
  <ul
    class="flex-column space-y mb-4 space-y-4 text-sm font-medium md:mb-0 md:me-4"
  >
    <li>
      <a
        href="#"
        class="active inline-flex w-full items-center rounded-lg px-4 py-3"
        aria-current="page"
      >
        <Icon
          name="bx:bxs-sun"
          class="me-2 h-4 w-4 text-primary transition duration-300 group-hover:text-neon"
        />
         Profile
      </a>
    </li>
    <li>
      <a
        href="#"
        class="inline-flex w-full items-center rounded-lg bg-gray-50 px-4 py-3 hover:bg-gray-100 hover:text-gray-900"
      >
        <Icon
          name="bx:bxs-sun"
          class="me-2 h-4 w-4 text-primary transition duration-300 group-hover:text-neon"
        />
         Dashboard
      </a>
    </li>
    <li>
      <a
        href="#"
        class="inline-flex w-full items-center rounded-lg bg-gray-50 px-4 py-3 hover:bg-gray-100 hover:text-gray-900"
      >
        <Icon
          name="bx:bxs-sun"
          class="me-2 h-4 w-4 text-primary transition duration-300 group-hover:text-neon"
        />
         Settings
      </a>
    </li>
    <li>
      <a
        href="#"
        class="inline-flex w-full items-center rounded-lg bg-gray-50 px-4 py-3 hover:bg-gray-100 hover:text-gray-900"
      >
        <Icon
          name="bx:bxs-sun"
          class="me-2 h-4 w-4 text-primary transition duration-300 group-hover:text-neon"
        />
         Contact
      </a>
    </li>
    <li>
      <a
        class="inline-flex w-full cursor-not-allowed items-center rounded-lg bg-gray-50 px-4 py-3 text-gray-400"
      >
        <Icon
          name="bx:bxs-sun"
          class="me-2 h-4 w-4 text-primary transition duration-300 group-hover:text-neon"
        />
         Disabled</a
      >
    </li>
  </ul>
  <div class="text-medium w-full rounded-lg bg-gray-50 p-6 text-gray-500">
    <h3 class="mb-2 text-lg font-bold text-gray-900">Profile Tab</h3>
    <p class="mb-2">
      This is some placeholder content the Profile tab's associated content,
      clicking another tab will toggle the visibility of this one for the next.
    </p>
    <p>
      The tab JavaScript swaps classes to control the content visibility and
      styling.
    </p>
  </div>
</div>
