---
import { ClientRouter } from "astro:transitions";
import type { SchemaNode } from "../ts/schema";

interface Props {
  title: string;
  description: string;
  structuredData?: SchemaNode[];
}

const { title, description, structuredData = [] }: Props = Astro.props;

const jsonLdGraph =
  structuredData.length > 0
    ? {
        "@context": "https://schema.org",
        "@graph": structuredData.map(({ "@context": _context, ...schema }) =>
          schema,
        ),
      }
    : undefined;
---

<head>
  <meta charset="utf-8" />
  <link
    rel="icon"
    type="image/svg+xml"
    href="/favicon_default.svg"
    id="favicon"
  />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title} ~ Dave Tierney</title>
  <meta name="description" content={description} />
  <link
    rel="sitemap"
    type="application/xml"
    title="Sitemap for davetierney.dev"
    href="https://davetierney.dev/sitemap-index.xml"
  />
  {jsonLdGraph && (
    <script type="application/ld+json" set:html={JSON.stringify(jsonLdGraph)} />
  )}
  <ClientRouter />
</head>
