---
import { ClientRouter } from "astro:transitions";
const { title, description } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link
    rel="icon"
    type="image/svg+xml"
    href="/favicon_default.svg"
    id="favicon"
  />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title} ~ Dave Tierney's site</title>
  <meta name="description" content={description} />
  <link
    rel="sitemap"
    type="application/xml"
    title="Sitemap for davetierney.dev"
    href="https://davetierney.dev/sitemap-index.xml"
  />
  <ClientRouter />
</head>
