---
import MainHead from "./MainHead.astro";

interface Props {
  title?: string;
}

const { title = "Dave Tierney's website" } = Astro.props;

import { Image } from "astro:assets";
import profilePic from "../images/Profile_Pic_no_bg.png";
---

<html lang="en">
  <MainHead title={title} />
  <body>
    <slot />
    <div class="relative m-4 h-80 w-80">
      <div class="absolute h-fit">
        <Image
          class="rounded-full brightness-125 grayscale filter"
          src={profilePic}
          alt="Dave Tierney profile picture"
          width="350"
          height="350"
        />
      </div>
      <div class="relative h-full rounded-full bg-[#2cbfdd] bg-opacity-20">
      </div>
    </div>
  </body>
</html>
