---
import MainHead from "./MainHead.astro";

import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import Theme from "../components/Theme.astro";
import Grid from "../components/Grid.astro";

import "../styles/main.css";
import "@fontsource-variable/albert-sans";
import "@fontsource/tilt-neon";
interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Dave Tierney's site",
  description = "Creating ripples in my world",
} = Astro.props;
---

<html lang="en">
  <MainHead title={title} {description} />
  <body class="bg-background text-primary">
    <Nav />
    <Grid />
    <Theme />
    <main>
      <slot />
    </main>
    <Footer />
    <script>
      import "../ts/theme";
      import "../ts/neon";
    </script>
  </body>
</html>
